requests
./boto3-1.28.21-py3-none-any.whl
./botocore-1.31.21-py3-none-any.whl
python-dotenv
smtplib
python-multipart
uvicorn
fastapi~=0.97.0
sqlalchemy~=2.0.16
PyPDF2
boto3
beautifulsoup4
re
pydantic
shutil
requests
./boto3-1.28.21-py3-none-any.whl
./botocore-1.31.21-py3-none-any.whl
python-dotenv
python-multipart
uvicorn
fastapi~=0.97.0
sqlalchemy~=2.0.16
PyPDF2
boto3
beautifulsoup4
pydantic
